body {
  margin: 0;
  padding: 1rem;
  font-family: Roboto, sans-serif;
}

.login-btn {
  margin-bottom: 1rem
}

@media (min-width: 800px) {
  .container {
    max-width: 800px;
    margin: auto;
  }
}
